{% extends 'registro/layout.html.twig' %}

{% block title %}Accidentes{% endblock %}

{% block header %}
    <h1><span class="fa fa-fw fa-car-crash"></span> Registro de accidentes</h1>
{% endblock %}

{% block registro %}
    <div class="row">
        <div class="col">
            <div class="card mb-2">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="flex-grow-1 mr-2">
                            <a class="btn btn-primary" href="{{ path('registro_new') }}"><span class="fa fa-fw fa-edit"></span> Registrar accidente</a>
                            <a class="btn btn-primary" href="{{ path('registro_busqueda_new') }}"><span class="fa fa-fw fa-search"></span> Buscar accidente</a>
                        </div>
                        {% set menu = knp_menu_get('accidentes', [], {}) %}
                        {{ knp_menu_render(menu) }}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm mb-0">
                        <thead>
                            <tr class="table-info">
                                <th>{{ knp_pagination_sortable(accidentes, '#F', 'a.numeroFormulario') }}</th>
                                <th>{{ knp_pagination_sortable(accidentes, '#P', 'a.numeroParte') }}</th>
                                <th>{{ knp_pagination_sortable(accidentes, 'Fecha', 'a.fecha') }}</th>
                                <th>{{ knp_pagination_sortable(accidentes, 'Hora', 'a.hora') }}</th>
                                <th>{{ knp_pagination_sortable(accidentes, 'Clase', 'ca.codigo') }}</th>
                                <th>{{ knp_pagination_sortable(accidentes, 'Tipo', 'ta.codigo') }}</th>
                                <th class="text-center"><span class="fa fa-fw fa-lg fa-car-alt" data-toggle="tooltip" data-placement="left" title data-original-title="Cantidad de vehículos"></span></th>
                                <th class="text-center"><span class="fa fa-fw fa-lg fa-walking" data-toggle="tooltip" data-placement="left" title data-original-title="Cantidad de personas"></span></th>
                                <th class="text-center"><span class="fa fa-fw fa-lg fa-clipboard-check" data-toggle="tooltip" data-placement="left" title data-original-title="Proceso de registro"></span></th>
                                <th class="text-center"><span class="fa fa-fw fa-lg fa-question-circle" data-toggle="tooltip" data-placement="left" title data-original-title="Coherencia lógica"></span></th>
                                <th class="text-center"><span class="fa fa-fw fa-lg fa-envelope" data-toggle="tooltip" data-placement="left" title data-original-title="Mensaje"></span></th>
                                <th class="text-center" style="width: 300px;">Etapas</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for accidente in accidentes %}
                            <tr {% if accidente.estadoAccidente.codigo in ['confirmado'] %} class="table-success" {% endif %}{% if accidente.incoherencias|length > 0 %} class="table-danger" {% endif %}{% if accidente.registroEtapas|length < 6 %} class="table-warning" {% endif %}>
                                <td>{{ accidente.numeroFormulario }}</td>
                                <td>{{ accidente.numeroParte }}</td>
                                <td>{{ accidente.fecha ? accidente.fecha|date('Y-m-d') : '' }}</td>
                                <td>{{ accidente.hora ? accidente.hora|date('H:i') : '' }}</td>
                                <td>{{ accidente.claseAccidente }}</td>
                                <td>{{ accidente.tipoAccidente }}</td>
                                <td class="text-center">{{ accidente.vehiculosAccidente|length }}</td>
                                <td class="text-center">{{ accidente.personasAccidente|length }}</td>
                                <td class="text-center">
                                    {% if accidente.registroEtapas|length < 6 %}
                                        <span class="fa fa-lg fa-exclamation-triangle text-warning" data-toggle="tooltip" data-placement="right" title data-original-title="Registro incompleto"></span>
                                    {% else %}
                                        <span class="fa fa-lg fa-check text-primary" data-toggle="tooltip" data-placement="right" title data-original-title="Registro terminado"></span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if accidente.incoherencias|length > 0 %}
                                        <span class="fa fa-lg fa-times-circle text-danger" data-toggle="tooltip" data-placement="left" data-html="true" title data-original-title="{% for incoherencia in accidente.incoherencias %}<p>{{ incoherencia.descripcion }}</p>{% endfor %}"></span>
                                    {% else %}
                                        <span class="fa fa-lg fa-check-circle text-primary" data-toggle="tooltip" data-placement="left" title data-original-title="Coherencia comprobada"></span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if accidente.esMensaje %}
                                        <span class="fa fa-lg fa-envelope text-secondary" data-toggle="tooltip" data-placement="left" title data-original-title="Mensaje: {{ accidente.cantidadFallecidos }} persona(s) fallecida(s)"></span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if accidente.estadoAccidente.codigo in ['nuevo', 'objetado'] %}
                                        {% if accidente.esMensaje and '01' not in accidente.registroEtapas|map(e => "#{e.codigo}") %}
                                            <a class="btn btn-sm btn-info border-primary" href="{{ path('registro_mensaje', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Identificar mensaje"><span class="fa fa-fw fa-info"></span></a>
                                        {% else %}
                                            <a class="btn btn-sm btn-info border-primary" href="{{ path('registro_identificacion', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Identificación de formulario"><span class="fa fa-fw fa-info"></span></a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn btn-sm btn-info border-primary disabled" aria-disabled="true"><span class="fa fa-fw fa-info"></span></a>
                                    {% endif %}

                                    {% if accidente.estadoAccidente.codigo in ['nuevo', 'objetado'] and '01' in accidente.registroEtapas|map(e => "#{e.codigo}") %}
                                        <a class="btn btn-sm btn-info border-primary" href="{{ path('registro_causas', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Registrar causas"><span class="fa fa-fw fa-question"></span></a>
                                    {% else %}
                                        <a class="btn btn-sm btn-info border-primary disabled" aria-disabled="true" href="{{ path('registro_causas', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Editar causas"><span class="fa fa-fw fa-question"></span></a>
                                    {% endif %}

                                    {% if accidente.estadoAccidente.codigo in ['nuevo', 'objetado'] and '02' in accidente.registroEtapas|map(e => "#{e.codigo}") %}
                                        <a class="btn btn-sm btn-info border-primary" href="{{ path('registro_condiciones', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Registrar condiciones"><span class="fa fa-fw fa-road"></span></a>
                                    {% else %}
                                        <a class="btn btn-sm btn-info border-primary disabled" aria-disabled="true" href="{{ path('registro_condiciones', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Editar condiciones"><span class="fa fa-fw fa-road"></span></a>
                                    {% endif %}

                                    {% if accidente.estadoAccidente.codigo in ['nuevo', 'objetado'] and '03' in accidente.registroEtapas|map(e => "#{e.codigo}") %}
                                        <a class="btn btn-sm btn-info border-primary" href="{{ path('registro_ubicacion', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Registrar ubicación"><span class="fa fa-fw fa-map-marker-alt"></span></a>
                                    {% else %}
                                        <a class="btn btn-sm btn-info border-primary disabled" aria-disabled="true" href="{{ path('registro_ubicacion', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Editar ubicación"><span class="fa fa-fw fa-map-marker-alt"></span></a>
                                    {% endif %}

                                    {% if accidente.estadoAccidente.codigo in ['nuevo', 'objetado'] and '04' in accidente.registroEtapas|map(e => "#{e.codigo}") %}
                                        <a class="btn btn-sm btn-info border-primary" href="{{ path('registro_vehiculos', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Registrar vehículos"><span class="fa fa-fw fa-car"></span></a>
                                    {% else %}
                                        <a class="btn btn-sm btn-info border-primary disabled" aria-disabled="true" href="{{ path('registro_vehiculos', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Editar vehículos"><span class="fa fa-fw fa-car"></span></a>
                                    {% endif %}

                                    {% if accidente.estadoAccidente.codigo in ['nuevo', 'objetado'] and '05' in accidente.registroEtapas|map(e => "#{e.codigo}") %}
                                        <a class="btn btn-sm btn-info border-primary" href="{{ path('registro_peatones', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Registrar peatones"><span class="fas fa-fw fa-walking"></span></a>
                                    {% else %}
                                        <a class="btn btn-sm btn-info border-primary disabled" aria-disabled="true" href="{{ path('registro_peatones', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="bottom" title data-original-title="Editar peatones"><span class="fas fa-fw fa-walking"></span></a>
                                    {% endif %}

                                </td>
                                <td class="text-center">{{ accidente.estadoAccidente }}</td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-light border-primary" href="{{ path('registro_resumen', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="right" title data-original-title="Ver resumen"><span class="fas fa-fw fa-search"></span></a>
                                    {% if accidente.registroEtapas|length == 6 and accidente.incoherencias|length == 0 and accidente.estadoAccidente.codigo in ['nuevo', 'objetado'] %}
                                        <a class="btn btn-sm btn-light border-primary" href="{{ path('registro_confirmar', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="right" title data-original-title="Confirmar"><span class="fas fa-fw fa-check-double"></span></a>
                                    {% else %}
                                        <a class="btn btn-sm btn-light border-primary disabled" aria-disabled="true" href="{{ path('registro_confirmar', {'accidente': accidente.id}) }}" data-toggle="tooltip" data-placement="right" title data-original-title="confirmar"><span class="fas fa-fw fa-check-double"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-center">{{ knp_pagination_render(accidentes) }}</div>
        </div>
    </div>
{% endblock %}
