{% extends 'inspeccion/accidenteUnidad/layout.html.twig' %}

{% block title %}{{ 'Inspeccion - Editar vehículo'|trans }}{% endblock %}

{% block header %}
    <h1><span class="fa fa-fw fa-search"></span> Inspección - Editar vehículo</h1>
{% endblock %}

{% block accidenteUnidad %}
    <div class="card">
        <div class="card-header bg-primary text-white"><h4 class="m-0">Vehículo ID: {{ vehiculoAccidente.id }} - Accidente ID: {{ vehiculoAccidente.accidente.id }}</h4></div>
        <div class="card-body">
            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' _self %}
            {{ form_start(form) }}
                {{ form_row(form.vehiculo.tipoVehiculo) }}
                {{ form_row(form.vehiculo.placaPatenteUnica) }}
                {{ form_row(form.vehiculo.marcaVehiculo) }}
                {{ form_row(form.vehiculo.modeloVehiculo) }}
                {{ form_row(form.vehiculo.ano) }}
                {{ form_row(form.vehiculo.color) }}
                {{ form_row(form.consecuenciaVehiculo) }}
                {{ form_row(form.direccionVehiculo) }}
                {{ form_row(form.maniobraVehiculo) }}
                {{ form_row(form.servicioVehiculo) }}
                {{ form_row(form.vehiculoEsCausanteProbable) }}
                {{ form_row(form.vehiculoSeFuga) }}
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <button type="submit" class="btn-primary btn"> Guardar cambios</button>
                    </div>
                </div>
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vehiculos') }}
{% endblock %}

{% block form_label_class -%}col-sm-3 text-right{%- endblock form_label_class %}

{% block form_group_class -%}col-sm-9{%- endblock form_group_class %}
